sklearn-pandas                   2.2.0
dill                             0.3.7
pandas                           1.5.3
numpy                            1.23.5
xgboost                          1.7.6
urllib3                          2.0.4
Flask                            2.2.5
json                             3.0.2